{% extends "admin/partial/layout_non_login.html.twig" %}

{% block title %}{{ t("login_2fa_page_name", "2FA") }}{% endblock %}

{% block body %}
    <body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="POST" action="{{ ADMIN_WEB_ROOT }}/login_2fa">
                        <h1>{{ t("login_2fa_page_name", "2FA") }}</h1>

                        {{ msg_page_notifications|raw }}
                        
                        <p></p>

                        <div>
                            <input name="access_code_2fa" type="text" class="form-control" placeholder="{{ t("access_code_2fa", "2FA Access Code") }}" required="" autofocus="" value="{{ access_code_2fa }}"/>
                        </div>

                        <div>
                            <a href="{{ ADMIN_WEB_ROOT }}/login">{{ t("cancel", "cancel")|title }}</a>
                            <button type="submit" value="{{ t("confirm", "confirm")|title }}" class="btn btn-default submit">{{ t("confirm", "confirm")|title }}</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">{{ t('admin_login_all_logins_records', 'All logins are recorded. Your IP address: [[[IP_ADDRESS]]].', {'IP_ADDRESS': userIpAddress}) }}</p>
                            <div class="clearfix"></div>
                            <div>
                                <p>&copy; {{ "now"|date("Y") }} {{ SITE_CONFIG_SITE_NAME }}. {{ t('admin_login_all_rights_reserved', 'All Rights Reserved') }}.</p>
                            </div>
                        </div>

                        <input id="submitme" name="submitme" value="1" type="hidden"/>
                        <input id="version" name="version" value="{{ scriptVersion }}" type="hidden"/>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
{% endblock %}